.head-color{
    color:#FA804C;
}
.head-color2{
    color: #363958;
}
.body-color{
    background-color: #FFF9F4;
}
.btn-self{
background-image:linear-gradient( 180deg, #3D4FF3 0%, #3543BC 100%);
color: #FFF9F4;

}